/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic page structure */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 10px;
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 0;
    background-color: #f4f4f4;

}

.menu, .about, .contact, .order {
    padding: 50px;
    text-align: center;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu-item {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    width: 200px;
    text-align: center;
}

footer {
    background-color: #0a0808;
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    .menu-items {
        flex-direction: column;
    }
}
